/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Poppins&display=swap');


/*-----------------------------------
    Common styles or utilites
-------------------------------------*/

body {
    background-color:#dad8e6;
    font-family: 'Exo 2', sans-serif;
    margin-top: 30px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    background-color: white;
    width: 800px;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.section-title {
    color: rgb(6, 63, 219);
    font-size: 24px;
}


/*-----------------------------------
    Top teachers and blog section 
-------------------------------------*/

/* top teachers */
.top-teachers {
    margin-bottom: 30px;
}   
.container hr {
    border: .5px solid #d1d1d1;
    margin-bottom: 30px;
}
.section-title {
    margin-top: 0;
}
.teachers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.teacher {
    display: flex;
    align-items: center;
}
.teacher img {
    width: 68px;
    height: 68px;
}
.teacher-name {
    margin-left: 20px;
}

/* top blogs */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.blog {
    display: flex;
    align-items: center;
}
.thumbnail img {
    width: 177px;
    height: 117px;
}
.blog-info {
    margin-left: 20px;
}
.blog-title {
    font-size: 20px;
}
.blog-author {
    font-size: 16px;
    color: gray;
}
.blog-author a {
    text-decoration: none;
    color: #562EFF;
}


/*-----------------------------------
    Course section 
-------------------------------------*/

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.course {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 5px #d1d1d1;
}
.course-banner img {
    width: 224px;
    height: 120px;
}
.course-title {
    font-size: 20px;
}
.course-author {
    font-size: 15px;
    color: red;
}
.course-info {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.fa-star.select {
    color: gold;
}
.fa-star.unselect {
    color: gray;
}
.course-time {
    background-color: rgba(255, 0, 0, 0.144);
    color: red;
    border-radius: 10px;
    margin-right: 10px;
}


/*----------------------------
    Media Queries 
-----------------------------*/

/* for mobile devices */
@media only screen and (max-width: 688px) {
    .container {
        width: 100%;
        align-items: center;
    }
    .teachers, .blogs, .courses {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
    .teacher, .blog img, .courses {
        padding-left: 20px;
    }
    .blog {
        flex-direction: column;
        align-items: normal;
    }
    .courses {
        grid-row-gap: 20px;
        padding-right: 20px;
    }
}

/* for tab devices */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .container {
        width: 80%;
    }
    .courses {
        width: 90%;
    }
    .teachers {
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }
}
